# Gradle
.gradle
/**/build
local.properties
captures

# IntelliJ
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
*.iml

# General
.DS_Store
.externalNativeBuild
